@{
    
}

<h2>Library</h2>

<div>
    Welcome to our library. To view available books, click
    @Html.ActionLink("List", "List", "Books")
</div>
<div>
    To view the list of authors, click
    @Html.ActionLink("List", "List", "Autors")
</div>