@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<div id="example">
    <div id="grid"></div>

    <script type="text/x-kendo-template" id="template">
        <div class="tabstrip">
            <ul>
                <li class="k-state-active">
                    Brochure details
                </li>
            </ul>
            <div>
                <div class="units"></div>
            </div>
        </div>

    </script>

    <script>
        $(document).ready(function () {

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/api/Brochures/",
                        dataType: "json",
                        type: "GET"
                    },
                    update: {
                        url: "/api/Brochures/",
                        dataType: "json",
                        type: "POST"
                    },
                    destroy: {
                        url: "/api/Brochures/",
                        dataType: "json",
                        type: "DELETE"
                    },
                    create: {
                        url: "/api/Brochures/",
                        dataType: "json",
                        type: "PUT"
                    },
                    parameterMap: function (data, operation) {
                        if (operation !== "read" && data.models) {
                            return data.models[0];
                        }
                    }
                },
                batch: true,
                pageSize: 20,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, type: "number" },
                            Title: { type: "string", validation: { required: true } },
                            Type: { type: "string", validation: { required: true } },
                            UnitId: { defaultValue: 1, validation: { required: true } },
                            Autor: { defaultValue: { Id: 1, Name: "Leo", Surname: "Tolstoy" }, validation: { required: true } },
                            ReleaseDate: { type: "number", validation: { required: true } }
                        }
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                height: 550,
                sortable: true,
                pageable: false,
                toolbar: ["create"],
                detailTemplate: kendo.template($("#template").html()),
                detailInit: brochureDetailInit,
                dataBound: function () {
                    this.expandRow(this.tbody.find("tr.k-master-row").first());
                },
                filterable: {
                    extra: false,
                    operators: {
                        string: {
                            startswith: "Starts with",
                            eq: "Is equal to",
                            neq: "Is not equal to"
                        }
                    }
                },
                columns: [
                    {
                        field: "Title",
                        title: "Title"
                    },
                    {
                        field: "Autor",
                        title: "Autor Name/Publisher",
                        editor: autorsDropDownEditor,
                        template: "#=Autor.AutorName#"
                    },
                    {
                        field: "Type",
                        hidden: true,
                        editor: brochureTypeDropDownEditor
                    },
                    {
                        field: "ReleaseDate",
                        hidden: true
                    },
                    { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" }
                ],
                editable: "popup"
            });
        });
    </script>
</div>
<div>
    @Html.ActionLink("Save as xml", "SaveToFile", new { fileType = "xml" })
    @Html.ActionLink("Save as txt", "SaveToFile", new { fileType = "txt" })
</div>