@{
    ViewBag.Title = "SaveToFile";
}

<h2>SaveToFile</h2>
<div>
    <pre>
        The request information was saved in a file <b> @ViewBag.FileName </b>
        File is located <em>@ViewBag.FilePath</em>
        @Html.ActionLink("Back to library", "Index", "Home")
    </pre>
</div>
